<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users/edit(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name: </label>
    <br/>
  <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
  <label for="login">Enter login: </label>
    <br/>
  <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <br/>
  <label for="password">Enter password: </label>
    <br/>
  <input type="text" th:field="*{password}" id="password"/>
    <br/>
  <select multiple="multiple" th:field="*{roles}">
    <option th:each="role : ${roles}"
            th:value="${role.roleName}"
            th:text="${role.roleName}"></option>
  </select>
    <br/>
  <input type="submit" value="Update!"/>
</form>
<br/>
<a th:href="@{/logout}">
  <button type="button" th:text="Logout"></button>
</a>
</body>
</html>