<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="'Name: ' + ${userByID.getName()}"></p>
<p th:text="'Id: ' + ${userByID.getId()}"></p>
<p th:text="'Login: ' + ${userByID.getLogin()}"></p>
<p th:text="'Password: ' + ${userByID.getPassword()}"></p>
<p th:text="'Roles: ' + ${userByID.getRoles()}"></p>

<a th:href="@{/admin/getUser/edit(id=${userByID.getId()})}">Edit</a>

<!--<form th:method="POST" th:action="@{/admin/users/getUser(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<!--<br/>-->

<a th:href="@{/logout}">
    <button type="button" th:text="Logout"></button>
</a>

</body>
</html>