<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>Admin panel</title>
</head>
<body class="text-center">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm" id="formPrincipal">

</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="user-tab-tab" data-toggle="pill" href="#user-tab" role="tab" aria-controls="user-tab" aria-selected="true">Admin</a>
                <a class="nav-link" id="q" data-toggle="pill" href="#qq" role="tab" aria-controls="qq" aria-selected="true">User</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="user-tab" role="tabpanel" aria-labelledby="user-tab-tab">
                    <h1 class="display-5 font-weight-bold">Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#mainTableWithUsers">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="mainTableWithUsers">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <th class="lopendeopdrachten" colspan="6">
                                        <h3 class="thead-light">All users</h3>
                                    </th>
                                        <thead >
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Login</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                    </thead>
                                    <tbody id="tableBody">

                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="modalFormDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser">
                            <h4 class="display-5 font-weight-bold">Add new user</h4>
                            <div class="form-group">
                                <div class="row justify-content-center align-items-center text-center">

                                    <form class="store-form" id="newUserForm">

                                        <input class="form-control" id="AddNewUserLogin" type="text" placeholder="Login"><br>
                                        <input class="form-control" id="AddNewUserPassword" type="password" placeholder="Password"><br>
                                        <input class="form-control" id="AddNewUserName" type="text" placeholder="Name"><br>


                                        <select class="custom-select" id="rolesSelect" multiple="multiple" size="2">

                                        </select>

                                        <button class="btn btn-success" type="button" id="addNewUserButton">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show in" id="qq" role="tabpanel" aria-labelledby="q">
                    <h1 class="display-5 font-weight-bold">User information-page</h1>
                    <div class="form-group">
                        <table class="table table-bordered" id="tableInfo">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Login</th>
                            <th>Roles</th>
                            <thead class="thead-light">
                            <th class="lopendeopdrachten" colspan="6">
                                <h3 class="thead-light">About user</h3>
                            </th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>